version: '3'
services:

   sensiblequery:
     build: .
     image: sensiblequery:universal-v1.10
     volumes:
       - ./conf:/data/conf:ro
     ports:
       - "5555:8000"
     restart: always
     environment:
       LISTEN: 0.0.0.0:8000
     labels:
       - "name=sensiblequery"
     logging:
       driver: "json-file"
       options:
         labels: "name"
         max-size: "1g"
         max-file: "3"
