<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>BSV Browser</title>
  </head>
  <body>

<!-- blocks -->
    <template id="blocks">
      <div>
        <h3> Blocks </h3>

        <div class="row justify-content-center">
          <div class="col-1">
            <div class="btn-group btn-group-lg mr-2" role="group" aria-label="First group">
              <a class="btn btn-secondary mb-2" v-on:click="viewBlockRange(-pageSize)" title="prev page">-</a>
            </div>
          </div>

          <div class="col-4">
            <form class="form-inline col">
              <div class="form-group col">
                <label for="blockStartHeight" class="sr-only">Start</label>
                <input type="text" class="form-control col" v-model="blockStartHeight" id="blockStartHeight"
                       placeholder="input start blk height">
              </div>
            </form>
          </div>

          <div class="col-1">
            <div class="btn-group btn-group-lg mr-2" role="group" aria-label="First group">
              <a class="btn btn-secondary mb-2" v-on:click="viewBlockRange(pageSize)" title="next page">+</a>
            </div>
          </div>

          <div class="col-1">
            <div class="btn-group btn-group-lg mr-2" role="group" aria-label="First group">
              <a class="btn btn-primary mb-2" v-on:click="viewBlockRange(0)" title="View Blocks">Go</a>
            </div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th class="text-right">#</th>
              <th class="text-center">block id</th>
              <th class="text-right">tx count</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="blk in Blocks">
              <td class="text-right"><samp>{{ blk.height }}</samp></td>
              <td class="text-center">

                <router-link :to="{path:`/txs/${blk.height}/${blk.id}`}"><samp>{{ blk.id }}</samp></router-link>

              </td>

              <td class="text-right"><samp>{{ blk.ntx }}</samp></td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>

<!-- transactions -->
    <template id="transactions">
      <div>
        <h3> Txs <small>in block</small></h3>

        <div class="row">
          <div class="col">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-right">BlockId:</th>
                  <th class="text-left"><samp>{{currBlockId}}</samp></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-right">Tx Count:</th>
                  <td class="text-left"><samp> {{ currBlockTxs.length }} </samp></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th class="text-right">#</th>
              <th class="text-center">tx id</th>
              <th class="text-right">txin count</th>
              <th class="text-right">txout count</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="tx in currBlockTxs">
              <td class="text-right"><samp>{{ tx.idx }}</samp></td>
              <td class="text-center">
                <router-link :to="{path:`/tx/${tx.height}/${tx.txid}`}"><samp>{{ tx.txid }}</samp></router-link>
              </td>
              <td class="text-right"><samp>{{ tx.nIn }}</samp></td>
              <td class="text-right"><samp>{{ tx.nOut }}</samp></td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>

<!-- transaction -->
    <template  id="transaction">
      <div>
        <h3> Tx </h3>

        <div class="row">
          <div class="col">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-right">TxId:</th>
                  <th class="text-left"><samp>{{currTxId}}</samp></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-right">Fee:</th>
                  <td class="text-left"><samp> {{((currTxIdInputValue-currTxIdOutputValue)/100000000.0)}} </samp></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div class="row">
          <div class="col-6">

            <table class="table">
              <thead>
                <tr>
                  <th class="text-right">#</th>
                  <th class="text-center">{{currTxIns.length}} Inputs</th>
                  <th class="text-right">{{currTxIdInputValue/100000000.0}}</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="txin in currTxIns">

                <tr>
                  <td class="text-right">
                    <router-link :to="{path:`/tx/${txin.height_txo}/${txin.utxid}`}">
                      <small><samp>❰&nbsp;{{txin.idx}}</samp></small>
                    </router-link>

                  </td>
                  <td class="text-left">
                    <router-link :to="{path:`/address/${txin.address}`}"><samp>{{ txin.address }}</samp></router-link>
                    <div>
                      <small><samp class="d-inline-block text-truncate"
                                   v-bind:title="txin.script_type"
                                   style="max-width: 380px;">script: {{ txin.script_type }}</samp></small>
                    </div>
                    <div v-if="txin.genesis != '0000000000000000000000000000000000000000'">
                      <router-link :to="{path:`/genesis/${txin.genesis}`}">
                        <small><samp>genesis: {{ txin.genesis }}</samp></small>
                      </router-link>
                    </div>
                  </td>
                  <td class="text-right">
                    <small><samp>{{ txin.satoshi/100000000.0 }}</samp></small>
                  </td>
                </tr>
                <!-- <tr>
                     <td class="text-left">
                     </td>
                     <td class="text-right">
                     </td>
                     <td class="text-left" colspan="2">
                     <small><samp>{{ txin.script_type }}</samp></small>
                     </td>
                     </tr> -->
                </template>

              </tbody>
            </table>
          </div>

          <div class="col-6">

            <table class="table">
              <thead>
                <tr>
                  <th class="text-right">#</th>
                  <th class="text-center">{{currTxOuts.length}} Outputs</th>
                  <th class="text-right">{{currTxIdOutputValue/100000000.0}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="txout in currTxOuts">
                  <td class="text-right">
                    <small><samp>{{txout.vout}}</samp></small>
                  </td>
                  <td class="text-left">
                    <router-link :to="{path:`/address/${txout.address}`}"><samp>{{ txout.address }}</samp></router-link>
                    <div>
                      <small><samp class="d-inline-block text-truncate"
                                   v-bind:title="txout.script_type"
                                   style="max-width: 380px;">script: {{ txout.script_type }}</samp></small>
                    </div>
                    <div v-if="txout.genesis != '0000000000000000000000000000000000000000'">
                      <router-link :to="{path:`/genesis/${txout.genesis}`}">
                        <small><samp>genesis: {{ txout.genesis }}</samp></small>
                      </router-link>
                    </div>
                  </td>
                  <td class="text-right">
                    <router-link v-if="txout.height_spent"
                                 :to="{path:`/tx/${txout.height_spent}/${txout.txid_spent}`}">
                      <small><samp>{{ txout.satoshi/100000000.0 }}&nbsp;❱</samp></small>
                    </router-link>
                    <div v-else>
                      <small>{{ txout.satoshi/100000000.0 }}&nbsp;❱</samp></small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </template>

<!-- address -->
    <template id="address">
      <div>
          <h3> Address History: <small><samp>{{ currAddress }}</samp></small></h3>
          <router-link :to="{path:`/utxo/${currAddress}`}"><samp>View UTXO</samp></router-link>
          <table class="table">
            <thead>
              <tr>
                <th class="text-right">#</th>
                <th class="text-center">history</th>
                <th class="text-right">value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(txout, index) in currAddressTxOuts">
                <td class="text-right"><samp>{{ index }}</samp></td>
                <td class="text-left">
                  <router-link :to="{path:`/tx/${txout.height}/${txout.txid}`}">
                    <samp>{{ txout.txid }}:{{ txout.vout }}</samp>
                  </router-link>
                  <div>
                    <small><samp>script: {{ txout.script_type }}</samp></small>
                  </div>
                  <div v-if="txout.genesis != '0000000000000000000000000000000000000000'">
                    <router-link :to="{path:`/genesis/${txout.genesis}`}">
                      <small><samp>genesis: {{ txout.genesis }}</samp></small>
                    </router-link>
                  </div>
                </td>
                <td class="text-right">
                  <samp v-if="txout.io_type">+{{ txout.satoshi/100000000.0 }}</samp>
                  <code v-else>-{{ txout.satoshi/100000000.0 }}</code>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </template>


<!-- utxo -->
    <template id="utxo">
      <div>
          <h3> Address UTXO: <small>{{ currAddress }}</small></h3>
          <router-link :to="{path:`/address/${currAddress}`}"><samp>View History</samp></router-link>

          <table class="table">
            <thead>
              <tr>
                <th class="text-right">#</th>
                <th class="text-center">utxo</th>
                <th class="text-right">value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(txout, index) in currAddressTxOuts">
                <td class="text-right"><samp>{{ index }}</samp></td>
                <td class="text-left">
                  <router-link :to="{path:`/tx/${txout.height}/${txout.txid}`}">
                    <samp>{{ txout.txid }}:{{ txout.vout }}</samp>
                  </router-link>
                  <div>
                    <small><samp>script: {{ txout.script_type }}</samp></small>
                  </div>
                  <div v-if="txout.genesis != '0000000000000000000000000000000000000000'">
                    <router-link :to="{path:`/genesis/${txout.genesis}`}">
                      <small><samp>genesis: {{ txout.genesis }}</samp></small>
                    </router-link>
                  </div>
                </td>
                <td class="text-right"><samp>{{ txout.satoshi/100000000.0 }}</samp></td>
              </tr>
            </tbody>
          </table>
      </div>
    </template>



<!-- genesis -->
    <template id="genesis">
      <div>
          <h3> Genesis History:
            <small>
              <samp>{{ currGenesis }}</samp>
            </small>
          </h3>
          <router-link :to="{path:`/genesis-utxo/${currGenesis}`}"><samp>View UTXO</samp></router-link>

          <table class="table">
            <thead>
              <tr>
                <th class="text-right">#</th>
                <th class="text-center">history</th>
                <th class="text-right">value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(txout, index) in currGenesisTxOuts">
                <td class="text-right"><samp>{{ index }}</samp></td>
                <td class="text-left">
                  <router-link :to="{path:`/tx/${txout.height}/${txout.txid}`}">
                    <samp>{{ txout.txid }}:{{ txout.vout }}</samp>
                  </router-link>
                  <div>
                    <small><samp>script: {{ txout.script_type }}</samp></small>
                  </div>
                  <div v-if="txout.genesis != '0000000000000000000000000000000000000000'">
                    <router-link :to="{path:`/address/${txout.address}`}">
                      <small><samp>address: {{ txout.address }}</samp></small>
                    </router-link>
                  </div>
                </td>
                <td class="text-right">
                  <samp v-if="txout.io_type">+{{ txout.satoshi/100000000.0 }}</samp>
                  <code v-else>-{{ txout.satoshi/100000000.0 }}</code>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </template>


<!-- genesis utxo -->
    <template id="genesis-utxo">
      <div>
        <h3> Genesis UTXO: <small><samp>{{ currGenesis }}</samp></small></h3>
        <router-link :to="{path:`/genesis/${currGenesis}`}"><samp>View History</samp></router-link>
        <table class="table">
          <thead>
            <tr>
              <th class="text-right">#</th>
              <th class="text-center">utxo</th>
              <th class="text-right">value</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(txout, index) in currGenesisTxOuts">
              <td class="text-right"><samp>{{ index }}</samp></td>
              <td class="text-left">
                <router-link :to="{path:`/tx/${txout.height}/${txout.txid}`}">
                  <samp>{{ txout.txid }}:{{ txout.vout }}</samp>
                </router-link>
                <div>
                  <small><samp>script: {{ txout.script_type }}</samp></small>
                </div>
                <div v-if="txout.genesis != '0000000000000000000000000000000000000000'">
                  <router-link :to="{path:`/address/${txout.address}`}">
                    <small><samp>address: {{ txout.address }}</samp></small>
                  </router-link>
                </div>
              </td>
              <td class="text-right"><samp>{{ txout.satoshi/100000000.0 }}</samp></td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>




    <div class="container-fluent" id="app">
      <!-- nav -->
      <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand">BSV Browser</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/blocks">Block</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/txs">Txs</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/tx">Tx</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/address">Address</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/utxo">UTXO</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/genesis">Genesis</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/genesis-utxo">GenesisUTXO</router-link>
            </li>

          </ul>
        </div>
        <form class="form-inline col-5">
          <input class="form-control mr-sm-2 col" type="search" v-model="navInputValue"
                 placeholder="Search" aria-label="Search">
          <a class="btn btn-outline-success my-2 my-sm-0" v-on:click="pressNavButton">Go</a>
        </form>
      </nav>

      <div class="col">
        <div class="alert alert-info" role="alert">
          {{message}}
        </div>

        <!-- router -->
        <router-view></router-view>

      </div>
    </div>


    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.1/dist/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script>
     const blocks = Vue.component('blocks', {
       template: '#blocks',

       data: function () {
         return {
           pageSize: 64,
           blockStartHeight: 0,
           Blocks: []
         }
       },

       created: function () {
         this.viewBlockRange(0)
       },

       watch: {
         $route(to, from) {

           if (to.path.startsWith("/blocks/id/")) {
             this.viewBlockById(to.params.blkid)
           } else if (to.path.startsWith("/blocks/")) {
             this.viewBlockRange(to.params.height)
           }
         }
       },

       methods: {
         viewBlockRange: function (step) {
           this.blockStartHeight = parseInt(this.blockStartHeight) + step
           blockEndHeight = this.blockStartHeight + this.pageSize

           axios.get(this.$root.apiPoint + "blocks/"+ this.blockStartHeight + "/" + blockEndHeight)
                .then(
                  response => {
                    this.Blocks = response.data.data
                    this.$root.message = response.data.msg
                  }
                )
         },

         viewBlockById: function (blkid) {
           axios
             .get(this.$root.apiPoint + "block/id/"+ blkid)
             .then(
               response => {
                 this.blockStartHeight = response.data.data.height
                 this.viewBlockRange(0)
                 this.$root.message = response.data.msg
               }
             )
         },

       }
     })

/* txs */
     const transactions = Vue.component('transactions', {
       template: '#transactions',
       data: function () {
         return {
           currBlockId: "",
           currBlockTxs: []
         }
       },

       watch: {
         $route(to, from) {

           if (this.currBlockTxs === undefined) {
             this.currBlockTxs = []
           }


           if (to.path.startsWith("/txs-of-blkid/")) {
             this.viewBlockIdTxs(to.params.blkid)
           } else if (to.path.startsWith("/txs/")) {
             this.viewBlockHeightTxs(to.params.height, to.params.blkid)
           }
         }
       },

       created: function () {
         console.log(this.$route, this.currBlockTxs)

         if (this.currBlockTxs === undefined) {
           this.currBlockTxs = []
         }
         if (this.$route.path != "/txs") {
           this.viewBlockHeightTxs(this.$route.params.height, this.$route.params.blkid)
         }
       },

       methods: {
         viewBlockHeightTxs: function (height, blkid) {
           this.currBlockId = blkid
           this.currBlockTxs = []
           axios
             .get(this.$root.apiPoint + "height/"+ height +"/block/txs")
             .then(
               response => {
                 this.currBlockTxs = response.data.data
                 this.$root.message = response.data.msg
               }
             )
         },

         viewBlockIdTxs: function (blkid) {
           this.currBlockId = blkid
           this.currBlockTxs = []
           axios
             .get(this.$root.apiPoint + "block/txs/"+ blkid)
             .then(
               response => {
                 this.currBlockTxs = response.data.data
                 this.$root.message = response.data.msg
               }
             )
         },

       }

     })

/* tx */
     const transaction = Vue.component('transaction', {
       template: '#transaction',

       data: function () {
         return {
           currTxId: "",
           currTxIdInputValue: 0,
           currTxIdOutputValue: 0,
           currTxIns: [],
           currTxOuts: [],
         }
       },

       watch: {
         $route(to, from) {
           console.log("watch", to, this.currTxIns, this.currTxOuts)

           /* if (this.currTxIns === undefined || this.currTxOuts === undefined) {
            *   this.currTxIns = []
            *   this.currTxOuts = []
            * }*/

           if (to.path.startsWith("/txid/") == true ) {
             this.viewTxIns(to.params.txid)
             this.viewTxOuts(to.params.txid)
           } else if (to.path.startsWith("/tx/") == true ) {
             this.viewTxInsInside(to.params.height, to.params.txid)
             this.viewTxOutsInside(to.params.height, to.params.txid)
           }

           if (to.path.startsWith("/txout/") == true ) {
             this.viewTxOutsStatus(to.params.txid, to.params.vout)
           }

         }
       },

       created: function () {

         console.log("create", this.$route, this.currTxIns, this.currTxOuts)

         /* if (this.currTxIns === undefined || this.currTxOuts === undefined) {
          *   this.currTxIns = []
          *   this.currTxOuts = []
          * }*/

         if (this.$route.path.startsWith("/txid/") == true ) {
           this.viewTxIns(this.$route.params.txid)
           this.viewTxOuts(this.$route.params.txid)
         } else if (this.$route.path.startsWith("/tx/") == true ) {
           this.viewTxInsInside(this.$route.params.height, this.$route.params.txid)
           this.viewTxOutsInside(this.$route.params.height, this.$route.params.txid)
         }

         if (this.$route.path.startsWith("/txout/") == true ) {
           this.viewTxOutsStatus(this.$route.params.txid, this.$route.params.vout)
         }

       },

       methods: {

              viewTxIns: function (txid) {
                this.updateTxIns(txid, this.$root.apiPoint + "tx/"+ txid +"/ins")
              },
              viewTxOuts: function (txid) {
                this.updateTxOuts(txid, this.$root.apiPoint + "tx/"+ txid +"/outs")
              },

              viewTxInsInside: function (height, txid) {
                this.updateTxIns(txid, this.$root.apiPoint + "height/"+ height +"/tx/"+ txid +"/ins")
              },
              viewTxOutsInside: function (height, txid) {
                this.updateTxOuts(txid, this.$root.apiPoint + "height/"+ height +"/tx/"+ txid +"/outs")
              },

              viewTxOutsStatus: function (txid, idx) {
                let url = this.$root.apiPoint + "tx/"+ txid +"/out/"+idx+"/spent"
                axios
                  .get(url)
                  .then(
                    response => {
                      if (response.data.code == 0) {
                        this.viewTxInsInside(response.data.data.height, response.data.data.txid)
                        this.viewTxOutsInside(response.data.data.height, response.data.data.txid)
                      } else {
                        this.$root.message = "unspent"
                      }
                    }
                  )
              },

              updateTxIns: function(txid, url) {
                this.$root.message = "..."
                axios
                  .get(url)
                  .then(
                    response => {
                      if (response.data.code == 0) {

                        this.currTxId = txid
                        this.currTxIns = response.data.data

                        this.currTxIdInputValue = 0
                        for(let i = 0; i < this.currTxIns.length; i++) {
                          this.currTxIdInputValue += this.currTxIns[i].satoshi
                        }

                      }
                      this.$root.message = response.data.msg
                    }
                  )
              },

              updateTxOuts: function(txid, url) {
                this.$root.message = "..."
                axios
                  .get(url)
                  .then(
                    response => {
                      if (response.data.code == 0) {
                        this.currTxOuts = response.data.data

                        this.currTxIdOutputValue = 0
                        for(let i = 0; i < this.currTxOuts.length; i++) {
                          this.currTxIdOutputValue += this.currTxOuts[i].satoshi
                        }
                      }
                      this.$root.message = response.data.msg
                    }
                  )
              },


       }
     })

/* address */
     const address = Vue.component('address', {
       template: '#address',

       data: function () {
         return {
           currAddress: "",
           currAddressTxOuts: []
         }
       },

       watch: {
         $route(to, from) {
           console.log("watch", this.$route, this.currBlockTxs)

           if (this.currAddressTxOuts === undefined) {
             this.currAddressTxOuts = []
           }

           if (to.path != "/address" ) {
             this.viewTxOutpointByAddress(to.params.address)
           }
         }
       },

       created: function () {
         console.log("create", this.$route, this.currBlockTxs)

         if (this.currAddressTxOuts === undefined) {
           this.currAddressTxOuts = []
         }
         if (this.$route.path != "/address") {
           this.viewTxOutpointByAddress(this.$route.params.address)
         }
       },

       methods: {
         viewTxOutpointByAddress: function (address) {
           console.log(address)
           this.currAddress = address
           this.currAddressTxOuts = []
           this.$root.message = "..."
           axios
             .get(this.$root.apiPoint + "address/"+ address +"/history")
             .then(
               response => {
                 if (response.data.code == 0) {
                   this.currAddressTxOuts = response.data.data
                   this.$root.message = response.data.msg
                 } else {
                   this.$root.message = "empty history"
                 }
               }
             )
         },
       }
     })

/* utxo */
     const utxo = Vue.component('utxo', {
       template: '#utxo',

       data: function () {
         return {
           currAddress: "",
           currAddressTxOuts: []
         }
       },

       watch: {
         $route(to, from) {
           console.log("watch", this.$route, this.currBlockTxs)

           if (this.currAddressTxOuts === undefined) {
             this.currAddressTxOuts = []
           }

           if (to.path != "/utxo" ) {
             this.viewTxOutpointByAddress(to.params.address)
           }
         }
       },

       created: function () {
         console.log("create", this.$route, this.currBlockTxs)

         if (this.currAddressTxOuts === undefined) {
           this.currAddressTxOuts = []
         }
         if (this.$route.path != "/utxo") {
           this.viewTxOutpointByAddress(this.$route.params.address)
         }
       },

       methods: {
         viewTxOutpointByAddress: function (address) {
           console.log(address)
           this.currAddress = address
           this.currAddressTxOuts = []
           this.$root.message = "..."
           axios
             .get(this.$root.apiPoint + "address/"+ address +"/utxo")
             .then(
               response => {
                 if (response.data.code == 0) {
                   this.currAddressTxOuts = response.data.data
                   this.$root.message = response.data.msg
                 } else {
                   this.$root.message = "empty utxo"
                 }
               }
             )
         },
       }
     })



/* genesis */
     const genesis = Vue.component('genesis', {
       template: '#genesis',

       data: function () {
         return {
           currGenesis: "",
           currGenesisTxOuts: []
         }
       },

       watch: {
         $route(to, from) {
           console.log("watch", this.$route, this.currBlockTxs)

           if (this.currGenesisTxOuts === undefined) {
             this.currGenesisTxOuts = []
           }

           if (to.path != "/genesis" ) {
             this.viewTxOutpointByGenesis(to.params.genesis)
           }
         }
       },

       created: function () {
         console.log("create", this.$route, this.currBlockTxs)

         if (this.currGenesisTxOuts === undefined) {
           this.currGenesisTxOuts = []
         }
         if (this.$route.path != "/genesis") {
           this.viewTxOutpointByGenesis(this.$route.params.genesis)
         }
       },

       methods: {
         viewTxOutpointByGenesis: function (genesis) {
           console.log(genesis)
           this.currGenesis = genesis
           this.currGenesisTxOuts = []
           this.$root.message = "..."
           axios
             .get(this.$root.apiPoint + "genesis/"+ genesis +"/history")
             .then(
               response => {
                 if (response.data.code == 0) {
                   this.currGenesisTxOuts = response.data.data
                   this.$root.message = response.data.msg
                 } else {
                   this.$root.message = "empty history"
                 }
               }
             )
         },
       }
     })

/* genesis utxo */
     const genesisUtxo = Vue.component('genesis-utxo', {
       template: '#genesis-utxo',

       data: function () {
         return {
           currGenesis: "",
           currGenesisTxOuts: []
         }
       },

       watch: {
         $route(to, from) {
           console.log("watch", this.$route, this.currBlockTxs)

           if (this.currGenesisTxOuts === undefined) {
             this.currGenesisTxOuts = []
           }

           if (to.path != "/genesis-utxo" ) {
             this.viewTxOutpointByGenesis(to.params.genesis)
           }
         }
       },

       created: function () {
         console.log("create", this.$route, this.currBlockTxs)

         if (this.currGenesisTxOuts === undefined) {
           this.currGenesisTxOuts = []
         }
         if (this.$route.path != "/genesis-utxo") {
           this.viewTxOutpointByGenesis(this.$route.params.genesis)
         }
       },

       methods: {
         viewTxOutpointByGenesis: function (genesis) {
           console.log(genesis)
           this.currGenesis = genesis
           this.currGenesisTxOuts = []
           this.$root.message = "..."
           axios
             .get(this.$root.apiPoint + "genesis/"+ genesis +"/utxo")
             .then(
               response => {
                 if (response.data.code == 0) {
                   this.currGenesisTxOuts = response.data.data
                   this.$root.message = response.data.msg
                 } else {
                   this.$root.message = "empty utxo"
                 }
               }
             )
         },
       }
     })


/* routes */
     const routes = [
       { path: '/blocks', component: blocks },
       { path: '/txs', component: transactions },
       { path: '/tx', component: transaction },
       { path: '/address', component: address },
       { path: '/utxo', component: utxo },
       { path: '/genesis', component: genesis },
       { path: '/genesis-utxo', component: genesisUtxo },


       { path: '/blocks/id/:blkid', component: blocks },
       { path: '/blocks/:height', component: blocks },

       { path: '/txs-of-blkid/:blkid', component: transactions },
       { path: '/txs/:height/:blkid', component: transactions },

       { path: '/txid/:txid', component: transaction },
       { path: '/tx/:height/:txid', component: transaction },

       { path: '/txout/:txid/:vout', component: transaction },
       { path: '/address/:address', component: address },
       { path: '/utxo/:address', component: utxo },

       { path: '/genesis/:genesis', component: genesis },
       { path: '/genesis-utxo/:genesis', component: genesisUtxo }

     ]

     const router = new VueRouter({
       routes
     })

     const app = new Vue({
            router: router,
            el: '#app',

            data: {
              currentRoute: window.location.pathname,

              /* apiPoint: "http://120.92.153.221:5555/",*/

              apiPoint: "http://localhost:8000/",

              message: "",

              navInputValue: "",
            },
            methods: {
              pressNavButton: function () {
                if (this.$route.path.startsWith("/blocks")) {

                  this.$router.push(`/blocks/id/${this.navInputValue}`)

                } else if (this.$route.path.startsWith("/txs")) {

                  this.$router.push(`/txs-of-blkid/${this.navInputValue}`)

                } else if (this.$route.path.startsWith("/tx")) {

                  this.$router.push(`/txid/${this.navInputValue}`)

                } else if (this.$route.path.startsWith("/address")) {
                  this.$router.push(`/address/${this.navInputValue}`)
                } else if (this.$route.path.startsWith("/utxo")) {
                  this.$router.push(`/utxo/${this.navInputValue}`)

                } else if (this.$route.path.startsWith("/genesis-utxo")) {
                  this.$router.push(`/genesis-utxo/${this.navInputValue}`)

                } else if (this.$route.path.startsWith("/genesis")) {
                  this.$router.push(`/genesis/${this.navInputValue}`)
                }
              },

            }
        })
    </script>
  </body>
</html>
